body { background: #ebc880; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 34px; display: flex; }
.block-session-0 { color: #cd3f6e; font-size: 18px; margin-bottom: 5px; }
.block-validator-1 { color: #73d384; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #24b824; font-size: 12px; margin-bottom: 5px; }
.block-uploader-3 { color: #34e969; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #ec1c81; font-size: 20px; margin-bottom: 5px; }